@import "tailwindcss";

:root {
  --primary: #6788B6;
  --secondary: #253141;
  --background-primary: #ffffff;
  --background-secondary: #E4E4E4;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

body {
  background: var(--background-primary);
  color: var(--secondary);
  font-family: Arial, Helvetica, sans-serif;
}
